body {
text-align:center;
background-color: grey;
}

p {
color: black;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -70px;
}

#ksisalto {
width:35em;
margin-left:auto;
margin-right:auto;
text-align:left;
}